[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/Vundle.vim.git
[submodule "vim-go"]
	path = .vim/bundle/vim-go
	url = http://github.com/fatih/vim-go.git
[submodule "syntastic"]
	path = .vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "vim-compiler-go"]
	path = .vim/bundle/vim-compiler-go
	url = http://github.com/rjohnsondev/vim-compiler-go.git
[submodule "vim-godef"]
	path = .vim/bundle/vim-godef
	url = http://github.com/dgryski/vim-godef.git
[submodule "vim-go-extra"]
	path = .vim/bundle/vim-go-extra
	url = http://github.com/vim-jp/vim-go-extra.git
[submodule "vim-rails"]
	path = .vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
