[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/Vundle.vim.git
[submodule "vim-go"]
	path = .vim/bundle/vim-go
	url = http://github.com/fatih/vim-go.git
[submodule "syntastic"]
	path = .vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "vim-rails"]
	path = .vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim-textobj-use"]
	path = .vim/bundle/vim-textobj-use
	url = http://github.com/skana/vim-textobj-use.git
[submodule "vim-textobj-rubybloc"]
	path = .vim/bundle/vim-textobj-rubybloc
	url = http://github.com/snelstrom/vim-textobj-rubybloc.git
